.whiteBody{
    background-color: white;
}

.blackBody{
    background-color: black;
}

nav{
    background-color: blue;
    padding: 50px;
    text-align: center;
    margin: 0px;
    border: 0px;
    }

.menu{
    padding: 40px;
    font-size: x-large;
    text-decoration: none;
}

.menu:link, .menu:visited{
    color:white;
}

.menu:hover{
    background-color: white;
    color: black;
}



.palavras{
    background-color: aqua;
}

.palavrasDark{
    background-color: darkblue;
    color: white;
}

form{
    background-color: aqua;
    text-align: center;
}

#portifolio{
    text-align: center;
}

#botaoClaro{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    font-size: 20px;
}

#botaoEscuro{
    position: fixed;
    bottom: 20px;
    right: 120px;
    padding: 20px;
    font-size: 20px;
}

#mensagem{
    height: 100px;
    width: 500px;
}

a, a:hover, a:link, a:visited{
    color: rgb(209, 18, 18);
}

@media only screen and (max-width: 900px) {
    nav{
        background-color: blue;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        text-align: center;
        margin: 0px;
        border: 0px;
    }

    .menu{
        padding: 10px;
        font-size: x-large;
        text-decoration: none;
    }

    #mensagem{
        width: 75vw;
        height: 25vh;
    }
    
    #botaoClaro{
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        font-size: 10px;
    }

    #botaoEscuro{
        position: fixed;
        bottom: 20px;
        right: 70px;
        padding: 10px;
        font-size: 10px;
    }

}
