.whiteBody{ /*Fundo claro do site*/
    background-color: white;
}

.blackBody{ /*Fundo escuro do site*/
    background-color: black;
}

/*A nav em conjunto com os .menu são o que formam a área superior de navegação entre os HTMLs*/
nav{ /*Cor e alinhamento*/
    background-color: blue;
    padding: 50px;
    text-align: center;
    margin: 0px;
    border: 0px;
    }

.menu{ /*Tamanho e removendo o sublinhado*/
    padding: 40px;
    font-size: x-large;
    text-decoration: none;
}

.menu:link, .menu:visited{ /*O link não muda de cor*/
    color:white;
}

.menu:hover{ /*Um pouco de interatividade ao passar o cursor*/
    background-color: white;
    color: black;
}



.palavras{ /*Modo claro das divs*/
    background-color: aqua;
}

.palavrasDark{ /*Modo escuro das divs*/
    background-color: darkblue;
    color: white;
}

form{/*Faz o form parecido com as divs*/
    background-color: aqua;
    text-align: center;
}

#portifolio{/*Detalhe*/
    text-align: center;
}

#botaoClaro{/*Determina o tamanho e posição fixa do botão claro*/
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    font-size: 20px;
}

#botaoEscuro{/*Determina o tamanho e posição fixa do botão escuro*/
    position: fixed;
    bottom: 20px;
    right: 120px;
    padding: 20px;
    font-size: 20px;
}

#mensagem{/*Determina o tamanho absoluto da textbox da aba contatos*/
    height: 100px;
    width: 500px;
}

a, a:hover, a:link, a:visited{/*Torna os links genéricos sempre vermelhos.*/
    color: rgb(209, 18, 18);
}


/*As linhas seguintes são responsáveis por tornar o site decente em telas pequenas.
Foi pensado com celulares em mente. 
É ativado quando a largura é menor que 900 px.
*/
@media only screen and (max-width: 900px) {
    nav{/*Simplesmente reduz o padding*/
        background-color: blue;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        text-align: center;
        margin: 0px;
        border: 0px;
    }

    .menu{/*Simplesmente reduz o padding*/
        padding: 10px;
        font-size: x-large;
        text-decoration: none;
    }

    #mensagem{/*Torna o tamanho da mensagem relativo ao invés de absoluto. */
        width: 75vw;
        height: 25vh;
    }
    
    #botaoClaro{/*Reduz a fonte e o padding do botão assim como ajusta sua posição na tela*/
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        font-size: 10px;
    }

    #botaoEscuro{/*Reduz a fonte e o padding do botão assim como ajusta sua posição na tela*/
        position: fixed;
        bottom: 20px;
        right: 70px;
        padding: 10px;
        font-size: 10px;
    }

}
